body {
    font-family: Inter, Arial;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter.ttf);
}

* {
    font-family: Inter;
}

center {
    color: white;
}

h1 {
    font-size: 3em;
}

.heading {
    text-align: center;
    font-size: 3em;
    color: white;
    margin-top: 20px;
}

html {
    background-color: black;
}

.footer {
    text-align: center;
    position: fixed;
    margin-bottom: 0px;
    font-size: 0.9em;
    font-family: Inter;
    padding: 10px;
    width: 100%;
    font-weight: 500;
    text-underline-offset: 3px;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}